rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // User profile rules
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Proker workspace rules
    match /prokers/{prokerId} {
      allow read, write: if request.auth != null;
      
      // Subcollections rules
      match /{subcollection}/{document} {
        allow read, write: if request.auth != null;
      }
    }
  }
}
